<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BlueBlog</title>
</head>
<body>
    {% block header %}
    <ul>
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'new-blog' %}">Create New Blog</a></li>
        <li><a href="{% url 'logout' %}">Log out</a></li>
        {% else %}
        <li><a href="{% url 'login' %}">Log in</a></li>
        <li><a href="{% url 'user_registration' %}">Register Account</a></li>
        {% endif %}
    </ul>
    {% endblock header %}

    {% block content %}
    {% endblock %}
</body>
</html>